
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.orange{
    color: rgb(168, 48, 204);
}
.half-widht{
    width: 100%;
    padding-left: 5%;
}
.half-width img{
    width: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(green, gold);
    color: aliceblue;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    padding: 10px 40px;

}
.h1{
    color: chocolate;
}
.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible{

}